<html>

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Game of Thrones</title>
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/loadHTML.js"></script>
    <script src="../Scripts/navigation.js"></script>
    <link rel="stylesheet" href="../Foundation/foundation-6.3.1-custom/css/foundation.css">
    <script src="../Foundation/foundation-6.3.1-custom/js/vendor/foundation.js"></script>
    <link rel="stylesheet" href="../Styles/basic.css">
</head>

<body>
    <div class="mainpart" id="wrapper">
        <div id="header" data-include="header"></div>
        <div id="content" data-include="fanart"></div>
        <div id="footer" data-include="footer"></div>
    </div>
</body>

</html>