<div>
    <h3 class="title">Fanart</h3>
</div>

<div class="fanartcontainer">
    <div class="item fanart">
        <video src="../Videos/got.mp4" controls>  
            <a href="./Videos/got.mp4">Link zum Video</a>
            <p>Ihr Browser unterstützt kein HTML5 video.</p>
        </video>
        <div class="imagedescription">
            <p>3D-Druckvorgang Video mit Kampfszene</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Model_Stark.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Model_Stark.jpeg" alt="3D-Model Stark">
        </a>
        <div class="imagedescription">
            <p>3D-Model für ein Stark Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Erster_Versuch.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Erster_Versuch.jpeg" alt="Erster Versuch">
        </a>
        <div class="imagedescription">
            <p>Erster Versuch des 3D-Drucks</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Schild.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Schild.jpeg" alt="Schild">
        </a>
        <div class="imagedescription">
            <p>Schild als Grundlage für das Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Stark1.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Stark1.jpg" alt="Einfaches Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit einfachem Stein Hintergrund</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Stark2.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Stark2.jpg" alt="Rustikales Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit rustikalem Stein Hintergrund</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Stark3.png" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Stark3.png" alt="Feuriges Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit feurigem Hintergrund</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Winterfell.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Winterfell.jpg" alt="Stark Wappen in Winterfell">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks in Winterfell</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Jon_Snow.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Jon_Snow.jpg" alt="Jon Snow mit Wappen">
        </a>
        <div class="imagedescription">
            <p>Jon Snow mit Wappen als Schild :)</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Model_Targaryen.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Model_Targaryen.jpg" alt="3D-Model Targaryen">
        </a>
        <div class="imagedescription">
            <p>3D-Model für ein Targaryen Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Targaryen1.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Targaryen1.jpg" alt="Druckvorgang Targaryen Wappen">
        </a>
        <div class="imagedescription">
            <p>Druckvorgang des Targaryen Wappens</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Targaryen2.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Targaryen2.jpg" alt="Wappen der Targaryens">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Targaryens als 3D-Druck</p>
        </div>
    </div>
	
	<div class="item fanart">
        <a href="../Images/Fanart/trump_wall.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/trump_wall.jpg" alt="Trump's wall">
        </a>
        <div class="imagedescription">
            <p>Trump's wall</p>
        </div>
    </div>
</div>