<div>
    <h3 class="title">Fanart</h3>
</div>

<div class="fanartcontainer">
	<div class="item fanart">
        <div class="embed">
            <video src="../Videos/got.mp4" controls>
				<p>Ihr Browser unterstützt kein HTML5 video.</p>
				<a href="./Videos/got.mp4">Link zum Video</a>
			</video>
        </div>
		<div class="imagedescription">
            <p>Fanart Video</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3DModel.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/3DModel.jpeg" alt="3D-Model">
        </a>
        <div class="imagedescription">
            <p>3D-Model für ein Stark Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/ErsterVersuch.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/ErsterVersuch.jpeg" alt="Erster Versuch">
        </a>
        <div class="imagedescription">
            <p>Erster Versuch des 3D-Drucks</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/Schild.jpeg" data-lightbox="show-1">
            <img src="../Images/Fanart/Schild.jpeg" alt="Schild">
        </a>
        <div class="imagedescription">
            <p>Schild als Grundlage für das Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck.jpg" alt="Einfaches Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit einfachem Stein Hintergrund</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck2.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck2.jpg" alt="Rustikales Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit rustikalem Stein Hintergrund</p>
        </div>
    </div>

    <div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Fire.png" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Fire.png" alt="Feuriges Stark Wappen">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks als 3D-Druck mit feurigem Hintergrund</p>
        </div>
    </div>
	
	<div class="item fanart">
        <a href="../Images/Fanart/3D-Druck_Winterfell.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/3D-Druck_Winterfell.jpg" alt="Stark Wappen in Winterfell">
        </a>
        <div class="imagedescription">
            <p>Das Wappen der Starks in Winterfell</p>
        </div>
    </div>
	
	<div class="item fanart">
        <a href="../Images/Fanart/jon_snow_shield.jpg" data-lightbox="show-1">
            <img src="../Images/Fanart/jon_snow_shield.jpg" alt="Jon Snow mit Wappen">
        </a>
        <div class="imagedescription">
            <p>Jon Snow mit Wappen als Schild :)</p>
        </div>
    </div>
</div>