<div>
    <h3 class="title">Fanart</h3>
</div>

<div class="fanartcontainer">
    <div class="item fanart">
        <img src="../Images/3DModel.jpeg" alt="3D-Model">
        <div class="imagedescription">
            <p>3D-Model für ein Stark Wappen</p>
        </div>
    </div>

    <div class="item fanart">
        <img src="../Images/ErsterVersuch.jpeg" alt="Erster Versuch">
        <div class="imagedescription">
            <p>Erster Versuch des 3D-Drucks</p>
        </div>
    </div>

    <div class="item fanart">
        <img src="../Images/Schild.jpeg" alt="Schild">
        <div class="imagedescription">
            <p>Schild als Grundlage für das Wappen</p>
        </div>
    </div> 
</div>