<header>
    <div class="banner">
        <div class="bannerimg"></div>
        <div class="logo"></div>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="showMenu()">&#9776;</a>
        <h1>Game of Thrones</h1>
        <a href="home.html">Home</a>
        <a href="houses.html">Häuser</a>
        <a href="charaktere.html">Charaktere</a>
        <a href="orte.html">Orte</a>
        <a href="fanart.html">Fanart</a>        
    </div>
</header>