<h3 class="title">Home</h3>

<div class="item home">
    <span>Season 7 von Game of Thrones startet am 17. Juni!!!</span>
</div>

<div class="item home">
    <span>Trailer #2 für Season 7:</span>
    <div class="embed">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/1Mlhnt0jMlg" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="item home">
    <span>Trailer #1 für Season 7:</span>
    <div class="embed">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/giYeaKsXnsI" frameborder="0" allowfullscreen></iframe>
    </div>
</div>