<div>
    <h3 class="title">Häuser</h3>
</div>

<div class="container">
    <div class="item">
        <img src="../Images/Houses/Stark.png" alt="Haus Stark">
        <div class="itemtext">
            <h5>Haus Stark</h5>
            <p>Haus Stark von Winterfell ist eines der Großen Häuser von Westeros, die von ihrem Familiensitz Winterfell aus über den Norden herrschen. Es gehört zweifellos zu den ältesten Adelsgeschlechtern des Kontinents, deren Linie mehr als 8000 Jahre zurückreicht. Das Oberhaupt des Hauses ist zugleich Lord von Winterfell. Vor der Eroberung durch das Haus Targaryen hielt das Haus Stark den Titel König des Nordens. In ihrem Besitz befand sich eines der wenigen valyrischen Stahlschwerter, der Zweihänder genannt Eis.</p>
            <p>Das Wappen des Hauses zeigt einen grauen Schattenwolf auf weißem und hellgrünem Grund. Sie sind eines der wenigen Häuser, deren Sinnspruch keine Prahlerei oder Drohung darstellt; stattdessen verwenden sie die warnenden Worte "Der Winter naht“.</p>
            <p>Es ist ein ungeschriebenes Gesetz, dass sich immer ein Stark in Winterfell aufhalten muss.</p>
        </div>
    </div>

    <div class="item reversed">
        <img src="../Images/Houses/Targaryen.png" alt="Haus Targaryen">
        <div class="itemtext">
            <h5>Haus Targaryen</h5>
            <p>Das Haus Targaryen von Königsmund war eines der großen Häuser von Westeros und fast drei Jahrhunderte das Königshaus der Sieben Königslande. Die Targaryen-Dynastie wurde in Roberts Rebellion gestürzt und auf dem Eisernen Thron durch das Haus Baratheon ersetzt. Die letzten Mitglieder, die dem Massaker an ihrer Familie entkamen, gingen ins Exil.</p>
            <p>Das Wappen des Hauses Targaryen zeigt einen dreiköpfigen, roten Drachen auf schwarzem Grund. Ihr Sinnspruch lautet "Feuer und Blut".</p>
        </div>
    </div>

    <div class="item">
        <img src="../Images/Houses/Lannister.png" alt="Haus Lennister">
        <div class="itemtext">
            <h5>Haus Lennister</h5>
            <p>Haus Lennister von Casterlystein ist eines der großen Häuser von Westeros. Es gehört zu den reichsten, mächtigsten und ältesten Dynastien. Ihre Ländereien liegen im äußersten Westen des Kontinents, mit einst sehr produktiven Goldminen. Ihr Sitz ist Casterlystein, eine mächtige Festung auf einem Felsvorsprung mit Blick auf das Meer der Abenddämmerung. Am Fuß von Casterlystein liegt Lennishort, die drittgrößte Stadt von Westeros. Sie sind die Herrscher über die Westlande und Wächter des Westens. Oberhaupt des Hauses und Lord von Casterlystein war Tywin Lennister.</p>
            <p>Die inzestuöse Beziehung zwischen Cersei und Jaime Lennister wurde durch eine Verschwörung verheimlicht. Ihr gemeinsamer Sohn Joffrey Baratheon bestieg als vermeintlicher Sohn und Erbe des verstorbenen König Robert Baratheon den Eisernen Thron, ihm folgte sein Bruder Tommen. Lord Tywin ist einer der wichtigsten Unterstützer seiner Herrschaft im Krieg der Fünf Könige.</p>
            <p>Wappen des Hauses zeigt einen aufsteigenden goldenen Löwen auf rotem Grund. Ihr offizieller Sinnspruch lautet: "Hört mich brüllen!", welcher aber nur selten erwähnt wird. Weiter verbreitet ist ihr inoffizieller Wahlspruch "Ein Lennister begleicht stets seine Schuld.", der sowohl im positiven als auch im negativen Zusammenhang verwenden werden kann.</p>
        </div>
    </div>

    <div class="item reversed">
        <img src="../Images/Houses/Arryn.png" alt="Haus Arryn">
        <div class="itemtext">
            <h5>Haus Arryn</h5>
            <p>Haus Arryn von Hohenehr ist eines der Großen Häuser von Westeros. Es herrscht seit Jahrtausenden über das Tal von Arryn, ursprünglich als König von Berg und Grünem Tal und seit den Eroberungskriegen als Lord von Hohenehr, Hüter des Grünen Tals und Wächter des Ostens. Sie sind die älteste und reinste Linie des alten andalischen Adels.</p>
            <p>Ihre Ländereien liegen im Osten des Kontinents Westeros. Sitz der Arryns ist Hohenehr. Ihr Wappen zeigt einen fliegenden Falken und Halbmond in weiß, auf blauem Grund. Ihr Wahlspruch lautet "Hoch wie die Ehre".</p>
            <p>Oberhaupt vom Haus ist der minderjährige Robin Arryn, dessen Aufgaben von seiner Mutter und Regentin Lady Lysa Arryn ausgeübt werden. Nach ihrem Tod geht diese Aufgabe auf Lord Petyr Baelish, seinem Stiefvater, über.</p>
        </div>
    </div>
</div>