body {
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

body, html {
  height: 100%;
  color: white;
  padding: 0px;
  margin: 0px;
}

/*Navigation*/

.topnav {
  overflow: hidden;
  background-color: 1F1B1E;
  padding-left: 15%;
  padding-right: 15%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  transition: .5s background-color;
}

.topnav a:active {
    background-color: #ddd;
    color: black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

/*Width Website Content*/

.mainpart{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba( 96, 21, 21, 0.5);
}

/*Unterteilung in Header, Content, Footer*/

#wrapper {
	height: 100vh;
    display: flex;
    flex-direction: column;
}
#header {
	background: black;

}
#content {
    padding: 20px 20px 0px 20px;
    overflow-y: auto;
    flex: 1;
}

/*Firefox & Edge Fix*/

.fanartcontainer:after{
    content: "";
    height: 20px;
    display: block;    
}

.container:after{
    content: "";
    height: 20px;
    display: block;    
}

#footer {
    display: flex;
	background-color: 1F1B1E;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;
}

/*Footer*/

.footertext {
    width: 100%;
}

.footertext span,
.footertext a {
    display: block;
    height: 100%;
    padding: 12px;
    float: left;
    text-align: center;
    font-size: 0.8em;
}

.footertext span {
    width: 60%;
}

.footertext a{
    width: 40%;
    text-decoration: underline;
    color: blue;
    transition: .5s background-color;
}

.footertext a:visited {
    color: green;
}

.footertext a:hover {
    color: hotpink;
}

.footertext a:active {
    color: red;
}

/*Seiten Titel*/

.title{
    text-align: center;
    padding-bottom: 20px;
}

/*Flex aufbau für Item in content*/

.item {
    display: flex;
    background-color: 272222;
    margin-bottom: 20px;
}

/*Firefox & IE11 Fix for display: flex*/

.home {
    display: block !important;
}

.item:last-child {
    margin-bottom: 0px !important;
}

.itemtext {
    margin: 20px;
}

/*Aufbau für Homeitem*/

.home {
    flex-direction: column;
}

.home span{
    font-size: 1.3rem;
    padding: 10px;
    padding-bottom: 20px;
    display: block;
}

/*Für Video / iframe*/

.embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Impressum Design*/

.impressum {
    flex-wrap: wrap !important;
    padding: 20px;
}

.bold {
    width: 100%;
    font-weight: bold;
}

.impressumtext {
    width: 100%;
}

.contact {
    width: 50%;
}

.contact p {
    margin: 0;
    padding: 0;
}

.email {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    display: block;
}

.contact a:link {
    color: #0000FF;
}

.contact a:visited {
    color: green;
}

.contact a:hover {
    color: hotpink;
}

.contact a:active {
    color: red;
}

/*Fanart Design*/

.fanartcontainer {
    column-count: 3;
    column-width: 300px;
    column-gap: 40px;
}

.fanart {
    display: inline-block;
    display: inline-grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fanart img {
    width: 100%;
}

.imagedescription {
    text-align: center;
    padding: 10px;
}

.imagedescription p {
    padding: 0;
    margin: 0;
}

/*Mobile Design*/

@media screen and (max-width: 736px) {
    .mainpart{
        background-image: none;
        width: 100vw;
        margin: 0px;
        background-color: #3D1D1D;
    }

    .topnav {
        padding: 0;
    }

    .topnav a {
        width: auto;
        transition: .5s background-color;
    }

    .topnav h1 {
        text-align: center;
        margin: 0;
        padding-top: 8px;
        font-size: 1.5rem;
        min-height: 50px;
    }

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        right: 0;
        top: 0;
        float: left;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transition: .5s background-color;
    }

    .item {
        flex-direction: column;
    }

    .item img {
        object-fit: cover;
    }

    .contact {
        width: 100%;
    }
    .contact:last-child {
        padding-top: 1rem;
    }
}

/*Tablet & Desktop Design*/

@media screen and (min-width: 736px) {
    .banner {
        background-color: black;
        padding-left: 10%;
        float: left;
        width: 100%;
    }

    .bannerimg {
        background-image: url('../Images/Banner.jpg');
        background-repeat: no-repeat;
        height: 185px;
        width: 80%;
        float: left;
    }

    .logo {
        background-image: url('../Images/Logo.png');
        background-repeat: no-repeat;
        height: 185px;
        width: 195px;
        float: right;
    }

    .topnav h1 {
        display: none;
    }    

    .reversed {
        flex-direction: row-reverse;
    }

    .item {
        margin-bottom: 40px;
    }

    #content{
        padding: 40px 40px 0px 40px;
    }

    .container:after{
        content: "";
        height: 40px;
        display: block;    
    }

    .fanartcontainer:after{
        content: "";
        height: 40px;
        display: block;    
    }
}

/*Tablet Design*/

@media screen and (min-width: 736px) and (max-width: 1280px){
    .mainpart{
        width: auto;
    }

    .topnav {
        padding: 0;
        width: 100%;
    }

    .logo {
        display: none;
    }
}

/*Desktop Design*/

@media screen and (min-width: 1280px){
    .mainpart{
        box-shadow: 1px 0 20px 1px black, -1px 0px 20px 1px black;
    }
}

/*Footer auf zwei Linien wegen zu wenig Platz*/

@media screen and (max-width: 457px){
    #footer {
        height: 58px;
    }
}