html{
    background-image: url("../Images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

body{
    font-style: sans-serif;
    color: white;
    position: relative;
    background-color: #000;
    width: 60%;
    margin: 0px auto;
    top: 5px;
}